<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <!-- Camera permissions for AR features -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    
    <!-- Vulkan feature -->
    <uses-feature android:name="android.hardware.vulkan.version" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.level" android:required="false" />
    
    <!-- OpenGL ES 3.0 -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    
    <!-- Google Play Services -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    
    <application
        android:name=".HopeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hope"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        tools:targetApi="31">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|density|screenLayout|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Hope.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Deep linking -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="hope"
                    android:host="game" />
            </intent-filter>
            
            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="hopegame.com"
                    android:pathPrefix="/play" />
            </intent-filter>
        </activity>
        
        <!-- Google Play Games -->
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <!-- Firebase -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
        
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />
        
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="true" />
        
        <!-- Firebase Messaging Service -->
        <service
            android:name=".services.HopeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        
        <!-- Default notification icon and color -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="hope_game_notifications" />
        
        <!-- WorkManager -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />
        
        <!-- FileProvider for sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
        <!-- AdMob App ID (replace with your actual ID) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-XXXXXXXXXXXXXXXX~YYYYYYYYYY" />
        
        <!-- Hardware acceleration for games -->
        <meta-data
            android:name="android.hardware.vulkan.version"
            android:value="0x00400000" />
        
        <!-- Game Mode API -->
        <meta-data
            android:name="android.game_mode_config"
            android:resource="@xml/game_mode_config" />
        
    </application>
    
</manifest>